body {
  font-family: Barlow;
  font-size: 12px;
  color: #1c195b;
  zoom: 1.5;
}
.shadow {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}
.item {
  padding: 10px;
  border-radius: 5px;
}
strong {
  display: block;
}
span {
  display: block;
}
.check {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: #00b140;
  color: #fff;
  font-size: 8px;
  text-indent: 2px;
  line-height: 12px;
  margin-left: 5px;
  position: relative;
  top: -2px;
}

.slide {
  float: right;
  width: 36px;
  padding: 2px 3px 0 3px;
  height: 20px;
  border-radius: 16px;
  background: #d9d9d9;
}
.slide em {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background: #fff;
}

.active .slide {
  background: #00b140;
}
.active .slide em {
  float: right;
}

img {
  display: block;
  width: 100%;
}
.page {
  background: #fafafa;
  padding: 20px;
  width: 768px;
  margin: 0 auto;
  display: block;
}

.btn-pink {
  display: block;
  margin: 10px auto;
  width: 180px;
  background: #ff386b;
  text-align: center;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  color: #fff;
}

h1 {
  font-size: 36px;
  padding: 0;
  margin: 0 0 20px;
  font-weight: 800;
}
h2 {
  font-size: 30px;
  padding: 0;
  margin: 0 0 20px;
  font-weight: 600;
}
ul {
  list-style-type: none;
  padding: 0;
  display: block;
  width: 100%;
}
li {
  padding: 0 0 5px 0;
  display: block;
  width: 100%;
}
li span {
  display: block;
  float: left;
  width: 20%;
  opacity: 0.6;
  font-size: 12px;
}
li strong {
  display: block;
  float: left;
  width: 80%;
}
.steps {
  margin: 20px 0;
}
.steps .col {
  background: #fff;
  padding: 10px 0 10px 5px;
  border-right: solid 1px #ccc;
}
.steps .col.active {
  background: #f3f3f7;
}
.steps span {
  font-size: 8px;
}
.col i {
  display: none;
}
.col.active i {
  display: inline-block;
}

.blue {
  background: #1c195b;
  color: #fff;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
.blue strong {
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
}
.blue span {
  font-size: 8px;
}

.flow .item {
  float: left;
  width: 32.5%;
  padding: 0;
  margin-right: 1.25%;
}
.flow .item:last-child {
  margin-right: 0;
}
.flow ul {
  background: #fff;
  padding: 10px 10px 10px 0;
  font-size: 10px;
  height: 70px;
}
.flow .check {
  background: #d9d9d9;
}

.flow .active .check {
  background: #00b140;
}
.priorit {
  padding: 0 !important;
  height: 135px;
  margin-bottom: 10px;
}
.priorit strong {
  padding: 10px 0 0 10px;
}
.list {
  display: block;
  text-align: right;
  font-size: 10px;
  margin-top: 5px;
}
.list li {
  padding: 3px 10px;
}
.list li:nth-child(even) {
  background: #eeeeee;
}
.list b {
  float: left;
}
.note {
  height: 135px;
  margin-bottom: 10px;
}
.note span {
  font-weight: 500;
  opacity: 0.6;
}

.info-box {
  margin-bottom: 20px;
  background: rgba(28, 25, 91, 0.05);
}

.info-box span {
  color: #1c195b;
  font-size: 9px;
  font-weight: 500;
}

.info-icon {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background: #1c195b;
  color: #fff;
  font-size: 16px;
  text-indent: 6px;
  line-height: 13px;
  float: left;
  margin-right: 10px;
}

.sankey {
  background: #fff;
  margin-bottom: 20px;
}
@media print {
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }

  button {
    display: none;
  }

  body {
    margin: 0;
    zoom: 0.6;
  }
  .page {
    padding-top: 150px;
  }
}
